#home_start.span-24
	.start
		%h1.span-12.last Search All Real Estate Sites
		.logos
			=image_tag("new_layout/trulia_zillow_realtor_yahoorealestate_century21_homes.gif")

#g_ad
	:javascript
		google_ad_client = "pub-3141842362833627";
		/* 728x90, created 12/31/09 */
		google_ad_slot = "4252080018";
		google_ad_width = 728;
		google_ad_height = 90;
	%script{:type => "text/javascript",:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js"}